---
    import Layout from '../../layout/Layout.astro'; 
---

<Layout titulo="Calendarios">
    <div class="container">
        <div class="row text-center text-black-50 pt-4">
            <h3 class="text-center py-4 bg-light">CALENDARIOS</h3>

        </div>
        <div class="stm-list-single-player">
            <a href="https://splash.stylemixthemes.com/baseball/player/brian-pinkett-smith/" title="Brian Pinkett">
                                                <div class="stm-bsbl-player-wrap">
                        <div class="stm-player-name-position heading-font">
                            <div class="player-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Brian Pinkett</font></font></div>
                            <div class="player-number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#13</font></font></div>
                        </div>
                        <div class="stm-player-info-wrap">
                            <div class="stm-player-img">
                                <img decoding="async" src="https://splash.stylemixthemes.com/baseball/wp-content/uploads/sites/4/2017/07/fotolia-91393089@3x-255x255.jpg">
                            </div>
                            <div class="stm-player-info">
                                <div class="player-position heading-font"></div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edad:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6</font></font></span>
                                    </div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">De:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Camerún</font></font></span>
                                    </div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Educación:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Universidad</font></font></span>
                                    </div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Experiencia:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7 años</font></font></span>
                                    </div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nacionalidad:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Camerún</font></font></span>
                                    </div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">altura:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">33</font></font></span>
                                    </div>
                                 <!--start parse metrics-->
                                    <div class="player-metric normal_font">
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Peso:</font></font></span>
                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22</font></font></span>
                                    </div>
                                <!--end parse metrics -->
                            </div>
                        </div>
                    </div>
                                        </a>
        </div>
    </div>
</Layout>
<style>
    .stm-players .stm-list-single-player {
        position: absolute;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 30px 15px;
        overflow: hidden;
        transform: translateZ(0);
        text-align: left;
        opacity: 0;
}
.stm-players-inline .stm-list-single-player {
    position: relative;
    opacity: 1;
    max-width: 33%;
}
</style>


