---
    import Layout from '../layout/Layout.astro'; 
---

<Layout titulo="Galeria">
    <div class="container">
        <div class="row text-center text-black-50 pt-4">
            <h3 class="text-center py-4 bg-light">GALERIAS</h3>
        </div>




       <div class="row bg-light py-4 text-center">
        <div class="col-md-4 mb-2">
            <img src="/galeria/WhatsApp Image 2024-02-21 at 3.46.30 PM.jpeg" class="img-fluid img-thumbnail" alt="image">
        </div>
        <div class="col-md-4 mb-2">
            <img src="/galeria/WhatsApp Image 2024-02-21 at 3.46.30 PM 2.jpeg" class="img-fluid img-thumbnail" alt="image">
        </div>
        <div class="col-md-4 mb-2">
            <img src="/galeria/WhatsApp Image 2024-02-21 at 3.55.16 PM.jpeg" class="img-fluid img-thumbnail" alt="image">
        </div>
        <div class="col-md-4 mb-2">
            <img src="/galeria/WhatsApp Image 2024-02-21 at 3.55.48 PM.jpeg" class="img-fluid img-thumbnail" alt="image">
        </div>
        <div class="col-md-4 mb-2">
            <img src="/galeria/WhatsApp Image 2024-02-21 at 3.57.20 PM.jpeg" class="img-fluid img-thumbnail" alt="image">
        </div>
        <div class="col-md-4 mb-2">
            <img src="/galeria/WhatsApp Image 2024-02-21 at 3.58.08 PM.jpeg" class="img-fluid img-thumbnail" alt="image">
        </div>

       </div>
    </div>
	
   
</Layout>



