---
    import Layout from '../layout/Layout.astro'; 
---

<Layout titulo="Historia">
    <div class="container">
        <div class="text-center text-black-50 pt-4">
            <h3 class="text-center py-4 bg-light">HISTORIA</h3>

       <div class="bg-light"> 
            <div class="row pb-4 p-4">
                
              <div class="col-md-4">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
              </div>
              <div class="col-md-8 text-center">
                <h3 class="fw-bold text-body-emphasis  mb-3">Historia de Nuestro Equipo</h3>
                <p class="lead">Fundado el 15 de diciembre de 2020 en la ciudad de Santiago, en la comuna de Estación Central, nuestro equipo se enorgullece de contar con el apoyo incondicional de nuestros padres, técnicos y atletas. Gracias a su dedicación, somos el equipo con más trofeos desde el inicio de @ligachilenadebeisbolmenor. Nuestros equipos siempre han destacado en las instancias finales de cada copa, torneo o cuadrangular realizado. ¡Únete a nosotros y sé parte de nuestra exitosa historia!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         
                </div>
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row pb-4 p-4">

                <div class="col-md-8 text-center">
                  <h3 class="fw-bold text-body-emphasis  mb-3">¡Únete a Nosotros y Sé Parte de Nuestro Equipo!</h3>
                  <p class="lead">Hacemos una invitación a todos los niños y niñas que deseen formar parte de nuestro club. Bajo la dirección de nuestro nuevo Presidente, el Sr. Enrique Villarroel, estamos entusiasmados con este nuevo proyecto que nos permitirá seguir creciendo y mejorando cada día. Nuestro objetivo es enseñar y promover este hermoso deporte en un país que antes no lo conocía. Ahora, estamos presentes y activos en Chile, y esperamos que muchos chilenos se sumen a esta emocionante actividad. ¡Dios nos ilumine en este camino!</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         
                  </div>
                </div>
                <div class="col-md-4 ">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                  </div>
            </div>
           



            <hr class="featurette-divider">


            <div class="row pb-4 p-4">
                <h3 class="fw-bold text-body-emphasis  mb-3">Torneos con participación</h3>
                <div class="col-md-8 text-start">
                   
                    <ul>
                    <li>
                        <strong>COPA NAVIDAD 2021</strong>
                        <ul>
                        <li>Sub 6 - Campeones</li>
                        <li>Sub 12 - Sub campeón</li>
                        <li>Sub 14 - Campeón</li>
                        <li>Sub 16 - Campeón</li>
                        </ul>
                    </li>
                    <li>
                        <strong>COPA NAVIDAD 2023</strong>
                        <ul>
                        <li>Sub 10 - Campeón</li>
                        <li>Sub 14 - Campeón</li>
                        <li>Sub 17 - Tercer lugar</li>
                        </ul>
                    </li>
                    <li>
                        <strong>COPA DON VICENTE ALCAYAGA 2021</strong>
                        <ul>
                        <li>Sub 6 - Sub campeón</li>
                        <li>Sub 8 - Sub campeón</li>
                        <li>Sub 14 - Sub campeón</li>
                        <li>Sub 16 - Campeones</li>
                        </ul>
                    </li>
                    <li>
                        <strong>COPA ENRIQUE SALAS 2023</strong>
                        <ul>
                        <li>Sub 10 - Campeón</li>
                        <li>Sub 14 - Sub campeón</li>
                        <li>Sub 17 - Sub campeón</li>
                        <li>Equipo revelación U10</li>
                        </ul>
                    </li>
                    <li>
                        <strong>COPA DE CAMPEONES 2023</strong>
                        <ul>
                        <li>Campeón sub 10</li>
                        <li>Sub campeón sub 14</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Cuadrangular sub10 2021 - Indómito tours</strong>
                        <ul>
                        <li>Campeón sub 10</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Cuadrangular sub17 2021 - Copa super carnes</strong>
                        <ul>
                        <li>Campeón sub 17</li>
                        </ul>
                    </li>
                    </ul>
                </div>
                <div class="col-md-4">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                 
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-4" width="800" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                </div>

              </div>
            <div class="pb-4 p-4 bg-light">
     
            
        
        <h3 class="lead">Ven y se parte de la historia de esta gran organización. ¡Vamos a crecer juntos desarrollando a cada uno de nuestros jugadores!</h3>

    </div>
    </div>    
</Layout>