---
    import Layout from '../layout/Layout.astro';
    import { Image } from 'astro:assets';

    import inicio01 from '../img/inicio01.jpg'

---

<Layout titulo="Resultados">
    <div class="container">
        <div class="row text-center text-black-50 pt-4">
            <h3 class="text-center py-4 bg-light">RESULTADOS</h3>
        </div>
        
    </div>    
</Layout>
